# BANCO DE DADOS
DATABASE_URL="" # Formato: mysql://USUARIO:SENHA@localhost:PORTA/NOME_DO_BANCO

# SERVIDOR DE E-MAIL
EMAIL_HOST="" # Substitua pelo host do seu servidor de e-mail, ex: smtp.gmail.com
EMAIL_PORT="2525" # Substitua pela porta do seu servidor de e-mail, ex: 587
EMAIL_USER="" # Substitua pelo usuário do seu servidor de e-mail, ex: seu e-mail completo
EMAIL_PASS="" # Substitua pela senha do seu servidor de e-mail, ex: sua senha de e-mail


# URL do Front-end (para o link do botão)
FRONTEND_URL="http://localhost:3000" # Substitua pela porta do seu front-end, ex: http://localhost:3000